ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f94b8;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 16px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #3508db;
  }

body{
  background-color: rgb(213, 207, 212);
}